<div *ngIf="successMessage" class="alert alert-success" role="alert">
  {{ successMessage }}
</div>
<div>
  <div class="add-button">
    <a routerLink="/add" class="btn btn-warning">
      <b>+ Add Post</b>
    </a>
  </div>
  <div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" (click)="sortTasks('id')" class="sortable">
              #
              <span *ngIf="sortColumn === 'id'" class="sort-icon">
                  {{ sortDirection === 'asc' ? '↑' : '↓' }}
              </span>
            </th>
            <th scope="col" (click)="sortTasks('title')" class="sortable">
              Title
              <span *ngIf="sortColumn === 'title'" class="sort-icon">
                  {{ sortDirection === 'asc' ? '↑' : '↓' }}
              </span>
            </th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col" (click)="sortTasks('dueDate')" class="sortable">
              Due Date
                <span *ngIf="sortColumn === 'dueDate'" class="sort-icon">
                  {{ sortDirection === 'asc' ? '↑' : '↓' }}
                </span>
            </th>
            <th scope="col" (click)="sortTasks('priority')" class="sortable">
              Priority
              <span *ngIf="sortColumn === 'priority'" class="sort-icon">
                  {{ sortDirection === 'asc' ? '↑' : '↓' }}
              </span>
            </th>
            <th scope="col">Completed</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks" (click)="goToDetails(task.id)">
            <td class="text-wrap">{{ task.id }}</td>
            <td class="text-wrap">
              <div class="truncate-title">
                {{ task.title }}
              </div>
            </td>
            <td class="text-wrap">
              <div class="truncate-description">
                {{ task.description }}
              </div>
            </td>
            <td class="text-wrap">{{ task.category }}</td>
            <td class="text-wrap">{{ task.dueDate }}</td>
            <td class="text-wrap">
              <span *ngIf="task.priority === 'Low'" class="priority-label low">Low</span>
              <span *ngIf="task.priority === 'Medium'" class="priority-label medium">Medium</span>
              <span *ngIf="task.priority === 'High'" class="priority-label high">High</span>
            </td>
            <td>
              <input
                type="checkbox"
                [checked]="task.completed"
                (change)="toggleCompleted(task)"
              />
            </td>
            <td>
              <button
                class="btn btn-sm btn-warning me-2"
                (click)="editTask(task.id);
                $event.stopPropagation()"
              >
                Edit
              </button>
              <button
                class="btn btn-sm btn-danger"
                (click)="deleteTask(task.id);
                $event.stopPropagation()"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
