<div *ngIf="successMessage" class="alert alert-success" role="alert">
  {{ successMessage }}
</div>
<div>
  <div class="add-button">
    <a routerLink="/add" class="btn btn-warning">
      <b>Add Post</b>
    </a>
  </div>
  <div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Due Date</th>
            <th scope="col">Priority</th>
            <th scope="col">Completed</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td class="text-wrap">{{ task.id }}</td>
            <td class="text-wrap">{{ task.title }}</td>
            <td class="text-wrap">{{ task.description }}</td>
            <td class="text-wrap">{{ task.category }}</td>
            <td class="text-wrap">{{ task.dueDate }}</td>
            <td class="text-wrap">{{ task.priority }}</td>
            <td>
              <input
                type="checkbox"
                [checked]="task.completed"
                (change)="toggleCompleted(task)"
              />
            </td>
            <td>
              <button
                class="btn btn-sm btn-warning me-2"
                (click)="editTask(task.id)"
              >
                Edit
              </button>
              <button
                class="btn btn-sm btn-danger"
                (click)="deleteTask(task.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
